.row{
    height: 200px;
    border: 1px solid black;
}
.header, .footer{
    width: 80%;
    margin: auto;
}
.content-1, .content-2{
    width: 30%;
}
.header{
    background-color: purple;
}
.content-1{
    background-color: yellowgreen;
}
.content-2{
    background-color: blue;
}
.footer{
    background-color: mediumvioletred;
}

@media screen and (max-width:750px){
    .row{
        width: 80%;
        margin: auto;
        margin-top: 5px;
    }
}